@import "../../main.scss";

.quote-component {
  margin: 30px;
  background-color: rgb(233, 233, 233);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  border-radius: 5px 85px;

  .quote-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 10px;

    h2 {
      font-size: 32px;
      font-family: "Montserrat", sans-serif;
      font-optical-sizing: auto;
      font-weight: 600;
      font-style: normal;
      color: #33475b;
      font-style: italic;

      @include mobile {
        font-size: 24px;
      }
    }

    p {
      margin-top: 10px;
      font-size: 18px;
      font-family: "Montserrat", sans-serif;
      font-optical-sizing: auto;
      font-weight: 300;
      font-style: normal;
    }
  }
}
