@import "../../main.scss";

.home-page {
  scroll-behavior: smooth;

  .hero-section {
    min-height: 600px;
    padding: 40px;
  }

  .about-section {
    min-height: 600px;

    @include mobile {
      min-height: 1340px;
    }
  }

  .pricing-section {
    min-height: 600px;
  }

  .contact-section {
    min-height: fit-content;
  }
}
