.pricing-component {
  width: 100%;
  padding: 30px;

  .title-pricing {
    text-align: center;

    h2 {
      font-size: 36px;
      font-family: "Roboto", sans-serif;
      font-weight: 800;
      font-style: normal;
      margin-bottom: 10px;
    }

    p {
      font-size: 18px;
      font-family: "Montserrat", sans-serif;
      font-optical-sizing: auto;
      font-weight: 300;
      font-style: normal;
      margin-bottom: 20px;
      opacity: 0.5;
    }
  }

  .pricing-list {
    display: flex;
    justify-content: space-evenly;

    .box-price {
      width: 370px;
      height: 380px;
      padding: 14px;
      background-color: rgb(226, 228, 228);
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      transition: 0.3s;

      &:hover {
        box-shadow: 2px 2px 10px gray;
      }

      .content-purchase {
        .title-package {
          background-color: #121134;
          padding: 14px;
          border-radius: 15px;
          box-shadow: 1px 5px 8px gray;

          h3 {
            font-size: 22px;
            color: #fcc000;
            font-family: "Roboto", sans-serif;
            font-weight: 700;
            font-style: normal;
          }
          p {
            color: white;
            font-size: 12px;
            font-family: "Roboto", sans-serif;
            font-weight: 300;
            font-style: normal;
          }
        }

        .content-package {
          margin-top: 20px;
          margin-left: 15px;

          .box-list-content {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .list-content {
              display: flex;
              align-items: center;
              gap: 10px;
              font-size: 20px;

              span {
                font-size: 26px;
              }

              p {
                font-family: "Roboto", sans-serif;
                font-weight: 500;
                font-style: normal;
                font-family: Arial, Helvetica, sans-serif;
                font-size: 18px;
              }
            }

            .check {
              font-size: 24px;
              margin-right: 10px;
            }
          }
        }
      }
      .option-purchase {
        display: flex;
        justify-content: center;

        .btn-purchase {
          margin-top: 30px;
          width: 100px;
          font-size: 20px;
          padding: 5px 5px;
          font-weight: bold;
          color: white;
          border-radius: 10px;
          transition: 0.5s;
          cursor: pointer;
          text-align: center;
          background-color: #ff7d29;

          &:hover {
            scale: 1.05;
            transform: translateY(-2px);
          }
        }
      }
    }
  }
}
